<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">Ship's Log</h1>
    <p>A diary by Capt. Casey "Tired" Ellis</p>
  </div>
</div>