<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ relative_path }}img/icon.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ relative_path }}index.html">
          <button type="button" class="btn btn-light">
            <div class="pressstart text-dark">
              Teams
            </div>
          </button>
        </a>
        <a class="nav-item nav-link" href="{{ relative_path }}series.html">
          <button type="button" class="btn btn-light">
            <div class="pressstart text-dark">
              World Series
            </div>
          </button>
        </a>
      </div>
    </div>
  </div>
</nav>