{% extends '_templates/base.njk' %}

{% block content %}
<article class="container">
  <h1 class="text-center pressstart mb-4">World Series</h1>
  <div class="row">
    {% for ws in teams.series %}
      <div class="col-sm-12 col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
          {% if ws.year != 1994 %}
            <div class="card-header">
              <h5 class="card-title text-center pressstart">{{ ws.year }}</h5>
              <p class="text-center mb-0">({{ ws.record }})</p>
            </div>
            <div class="card-body">
              <div class="row justify-content-evenly">
                <div class="col-6">
                  <p class="text-center text-success mb-0 fs-3">W</p>
                </div>
                <div class="col-6">
                  <p class="text-center text-danger mb-0 fs-3">L</p>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <img class="card-img" src="img/logos/{{ ws.winslug }}.png">
                </div>
                <div class="col-6">
                  <img class="card-img" src="img/logos/{{ ws.loseslug }}.png">
                </div>
              </div>
              <div class="row justify-content-between">
                <div class="col-6">
                  <p class="text-start fw-bold mb-0">{{ ws.winner }}</p>
                </div>
                <div class="col-6">
                  <p class="text-end fw-bold mb-0">{{ ws.loser }}</p>
                </div>
              </div>
            </div>
            <div class="card-footer bg-white border-0">
              <div class="row justify-content-between">
                <div class="col-6">
                  {{ ws.winrecord }}
                </div>
                <div class="col-6">
                  <p class="text-end mb-0">{{ ws.loserecord }}</p>
                </div>
              </div>
            </div>
          {% endif %}
          {% if ws.year == 1994 %}
            <div class="card-header">
            <h5 class="card-title text-center pressstart">{{ ws.year }}</h5>
            <p class="text-center mb-0">No series held due to players' strike.</p>
            </div>
            <div class="card-body">
              <div class="col-8 offset-2">
                <img class="card-img-bottom" src="img/logos/mlbpa.png">
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</article>
{% endblock %}