{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4">
      </div>
      <div class="col-lg-6">
        <h1>{{ headline }}</h1>
        <h3>{{ league }} {{ division }}</h3>
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}